/* Structure
--------------------------------------------------*/

html, body {
  height: 100%;
  width: 100%;
}
.page {
  height: 100%;
  width: 100%;
}
.full {
  height: 100%;
  width: 100%;
}
.limiter {
  max-width: 650px;
  margin: 0 auto;
}
.padding {
  padding: 8em 1em 8.25em 1em;
}

/* Global Styles
--------------------------------------------------*/

@font-face {
    font-family: 'Oriya MN';
    src: url('../fonts/oriya_mn.eot');
    src: url('../fonts/oriya_mn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oriya_mn.woff') format('woff'),
         url('../fonts/oriya_mn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  color: #000;
  border-top: none;
  text-align: center;
  font-family: Oriya MN, Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
}
::selection {
  background: #FFF;
  }
::-moz-selection {
  background: #FFF;
}

/* Links and Nav*/

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
a:hover, .button:hover {
  color: #FFF;
  border-bottom: 1px solid #FFF;
}
nav a {
  text-decoration: none;
  border: none;
}
nav a:hover {
  text-decoration: none;
  border: none;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Transitions */

a, input.button, .show, .label {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.dim, .active, .reveal {
  -webkit-transition: opacity 100ms ease-out;
  -moz-transition: opacity 100ms ease-out;
  -ms-transition: opacity 100ms ease-out;
  -o-transition: opacity 100ms ease-out;
  transition: opacity 100ms ease-out;
}
#bg-img {
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
#page {
  -webkit-transition: opacity 1000ms ease-out;
  -moz-transition: opacity 1000ms ease-out;
  -ms-transition: opacity 1000ms ease-out;
  -o-transition: opacity 1000ms ease-out;
  transition: opacity 1000ms ease-out;
}

/* Typography */

p {
  font-size: 1.125em;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, label {
  font-weight: normal;
}
h1.section-title {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 2.75em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

/* Menu */

#menu {
  position: fixed;
  top: 6px;
  left: 0;
  right: 0;
  z-index: 2000;
  padding: 0 1em;
  background-color: #FFF;
}
#menu a {
  display: inline-block;
  padding: 1em 0.75em 0.875em 0.75em;
  font-size: 1em;
  text-transform: uppercase;
  color: #000;
  border: none;
}
#menu a:hover {
  color: rgba(0,0,0,0.5);
}
#menu-links-toggle {
  display: none;
}

/* Networks */

#networks {
  width: 100%;
  font-size: 1.5em;
  position: absolute;
  bottom: 6px;
}
#networks a {
  display: inline-block;
  padding: 1em 0.75em;
  border-bottom: none;
}
#networks a:hover {
  color: #777;
}

/* Top Banner */

#banner {
  position: relative;
}
.onejacket {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.twojacket {
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
}
.threejacket {
  display: table-cell;
  vertical-align: middle;
}
#banner a:hover {
  color: #000;
}
#sunjacket {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-left: 0.25em;
}
#sunjacket a {
  text-decoration: none;
  border: none;
}

/* Shows */

.show, .message {
  position: relative;
  padding: 4.5em 1.5em 4.75em;
  border: 2px solid #000;
  margin-bottom: 5em;
}
.show.active {
  color: #FFF;
  border: 2px solid #FFF;
}
.show:hover {
  color: #FFF;
  border: 2px solid #FFF;
  cursor: pointer;
}
.venue {
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.444444em;
  letter-spacing: 0.055555em;
}
.city, .date {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.25;
}
.city {
  margin-bottom: 0.25em;
}
.bands {
  font-size: 1.125em;
  margin-top: 1em;
  margin-bottom: 0;
}
.show-links {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.show-links li {
  margin-bottom: 1.25em;
}
.show-links li:last-child {
  margin-bottom: 0;
}
.show-links a {
  font-size: 20px;
  text-transform: uppercase;
}

/* Music */

.music-player {
  max-width: 1052px;
  margin: 0 auto;
  border: 2px solid #000;
  margin-bottom: 3.75em;
  padding: 0.75em 0.75em 0.5em 0.75em;
  background-color: #F5F5F5;
}
.music-download-links {
  margin: 0;
}

/* Updates */

.email {
  width: 92%;
  border: none;
  color: #000;
  text-align: center;
  border: 2px solid #000;
  background: none;
  padding: 1.5em 3% 1.375em;
  font-size: 1.5em;
  margin: 1.5em -2px;
}
::-webkit-input-placeholder {
   color: #000;
}
:-moz-placeholder { /* Firefox 18- */
   color: #000;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}
:-ms-input-placeholder {
   color: #000;
}

.button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  font-size: 20px;
}
.button:hover {
  cursor: pointer;
}
label {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

/* Contact */

#contact {
  background-color: #F7F7F7;
  background-image: url(../images/sunjacket-group.jpg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.contact-subject {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
address {
  font-style: normal;
}
address:first-of-type {
margin-bottom: 3em;
}
address a {
font-size: 1.5em;
}
#contact a:hover {
  color: #777;
  border-bottom: 1px solid #777;
}

/* Backgrounds */

#shows {
  background-color: rgba(190,205,220,0.6);
}
#music {
  background-color: rgba(205,205,190,0.6);
}
#updates {
  background-color: rgba(220,220,220,0.6);
}
#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -20;
  display: table;
  vertical-align: middle;
}
#bg-img {
  max-width: 500px;
  display: table-cell;
  vertical-align: middle;
}
#bg-img img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Border Bars
--------------------------------------------------*/

.bar {
  position: fixed;
  background-color: #000;
  z-index: 9999;
}
.bar.top, .bar.bottom {
  height: 6px;
  width: 100%;
}
.bar.right, .bar.left {
  width: 6px;
  top: 0;
  bottom: 0;
}
.bar.top {
  top: 0;
}
.bar.right {
  right: 0;
}
.bar.bottom {
  bottom: 0;
}
.bar.left {
  left: 0;
}

/* Tools
--------------------------------------------------*/

/* Clearfix */
.vertical-wrap {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
}
.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

/* Clearfix */
.group:before, .group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* Opacity and Display */

.hide {
  opacity: 0;
}
.reveal {
  display: block;
  opacity: 1;
}
.dim {
  opacity: 0.15;
}

/* Responsive
--------------------------------------------------*/

img {
  max-width: 100%;
}

@media screen and (max-width: 769px) {
  body {
    font-size: 85%;
    border: none;
  }
  .padding {
    padding-top: 6em;
    padding-bottom: 6em;
  }
  #bg-img {
    padding: 0 4em;
  }
  #menu {
    display: none;
    border: none;
    padding: 0;
    font-size: 1.75em;
  }
  #menu a {
    display: block;
    padding: 0.625em;
  }
  #menu-links {
    padding: 1em 0;
  }
  #menu-links-toggle {
    padding: 0.375em 0;
  }
  #sunjacket {
    font-size: 2.75em;
  }
  #sunjacket.vertical-center {
    display: block;
  }
  #sunjacket span {
    display: inline;
    float: none;
    line-height: inherit;
  }
  #networks {
    font-size: 2em;
  }
  .show {
    padding: 3em 1em;
    margin-bottom: 2.25em;
  }
  .email {
    padding: 1.5em 3% 1.125em;
  }
  label, .contact-subject {
    font-size: 1.5em;
  }
  .bar {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 80%;
    text-size-adjust: 82%;
    -webkit-text-size-adjust: 82%;
    -moz-text-size-adjust: 82%;
    -ms-text-size-adjust: 82%;
    -o-text-size-adjust: 82%;
  }
  .padding {
    padding: 5em 1.5em;
  }
}