@font-face {
    font-family: 'bagnardregular';
    src: url('../fonts/bagnard-webfont.woff2') format('woff2'),
         url('../fonts/bagnard-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}