$purple: rgb(92,30,121);
$tan: rgb(170,176,191);
$pad-column: 16px;
$pad-section: 6em;

$small: "screen and (max-width: 769px)";
$small-pad-section: 2em;

* {
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}
body {
  color: $purple;
  font-family: 'bagnardregular';
  @media #{$small} {
    font-size: 85%;
  }
  font-weight: bold;
  text-align: center;
}
a {
  color: $purple;
  text-decoration: none;
  @include transition(color 200ms ease-out);
  &:hover {
    color: shade($purple, 30%);
  }
}
.page {
  @media #{$small} {
    padding: 0;
  }
  @include animation(fadein 1s);
}
@include keyframes(fadein) {
  from {
    @include opacity(0);
  }
  to {
    @include opacity(1);
  }
}
.border {
  padding: 5.5%;
  border: 12px solid $purple;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  @media #{$small} {
    border: 6px solid $purple;
  }
}
.limit {
  max-width: 1600px;
}
.top {
  margin-top: $pad-section;
  margin-bottom: $pad-section;
  @media #{$small} {
    margin-top: $small-pad-section;
    margin-bottom: $small-pad-section;
  }
}
.hello, .shows, .music, .video {
  margin-bottom: $pad-section;
  @media #{$small} {
    margin-bottom: $small-pad-section;
  }
}
.shows {
  background-color: $purple;
  color: $tan;
  padding: 6em 2em;
  a {
    color: $tan;
    text-decoration: underline;
    font-size: inherit;
  }
}
.show {
  position: relative;
  padding-top: 2em;
  padding-bottom: 3em;
}
.show p {
  margin: 0;
}
.show:after {
  font-size: 1.75em;
  position: absolute;
  bottom: -0.45em;
  left: 50%;
  margin-left: -0.5em;
  content: "\2014";
}
.show:last-of-type:after {
  content: "";
}
.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.email {
  padding-bottom: $pad-section / 2;
  a {
    font-size: 1.75em;
  }
}
.links {
  ul {
    font-size: 1.5em;
    line-height: 1.7;
  }
}
.row {
  margin-right: -$pad-column;
  margin-left: -$pad-column;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  padding-right: $pad-column;
  padding-left: $pad-column;
  @media #{$small} {
    float: none;
  }
}
.half {
  width: 50%;
}
.third {
  width: 33.333333%;
}
@media #{$small} {
  .half, .third {
    width: 100%;
  }
}
input[type="email"] {
  width: 100%;
  text-align: center;
  padding: 0;
  padding-bottom: 0.25;
  border: 0;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: $purple;
  margin-bottom: 1em;
  &:focus {
    outline: 0;
    border-bottom: 2px solid $purple;
  }
}
input[type="submit"] {
  padding: 0.5em;
  border: 2px solid $purple;
  background-color: transparent;
  color: $purple;
  font-style: italic;
  font-size: 0.75em;
  &:focus {
    outline: 0;
    border: 2px solid $purple;
  }
  @media #{$small} {
    margin-bottom: 4em;
  }
}
.signed {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 0.75em;
  @media #{$small} {
    margin: 0;
    padding-bottom: 3em;
  }
}
.hide {
  display: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 6em;
  text-align: center;
  @media #{$small} {
    font-size: 4em;
  }
}
h2 {
  font-size: 4em;
  @media #{$small} {
    font-size: 3em;
  }
}
h3 {
  font-size: 1em;
}
img {
  width: 100%;
  height: auto;
}
p {
  font-size: 1.75em;
  line-height: 1.3;
}