---
layout: default
published: true
---

<section id="welcome" class="welcome full-height">
  <div class="container welcome-container full-height">
    <div class="welcome-banner">
        <h1 class="more-lifelike"><span class="soft-return lc">More </span><span class="soft-return"><span class="uc">L</span>ifelik<span class="uc">e</span></span></h1>
        <h2 class="welcome-message">New album out June 4, 2021</h2>
        <a class="btn btn-welcome" href="https://sunjacket.bandcamp.com/album/mantra">Pre-Order Now</a>
      </div>
      <a class="welcome-arrow" href="#mantra">{% include icon-down-arrow.html %}</a>
  </div>
</section>
<!-- pre-order promotional aside -->
<aside id="promotion" class="promotion">
  <div class="pre-order-images">
    <ul class="slider">
      <li><img src="images/sunjacket-slide-01-vinyl-jacket-front.jpg" width="1600" height="1067" alt="Sunjacket"></li>
      <li><img src="images/sunjacket-slide-02-vinyl-jacket-sleeve-front.jpg" width="1600" height="1067" alt="Sunjacket"></li>
      <li><img src="images/sunjacket-slide-03-vinyl-sleeve-record-front.jpg" width="1600" height="1067" alt="Sunjacket"></li>
      <li><img src="images/sunjacket-slide-04-vinyl-sleeve-record-back.jpg" width="1600" height="1067" alt="Sunjacket"></li>
      <li><img src="images/sunjacket-slide-05-vinyl-jacket-sleeve-back.jpg" width="1600" height="1067" alt="Sunjacket"></li>
      <li><img src="images/sunjacket-slide-06-vinyl-jacket-back.jpg" width="1600" height="1067" alt="Sunjacket"></li>
      <li><img src="images/sunjacket-slide-07-cd-digipak.jpg" width="1600" height="1067" alt="Sunjacket"></li>
    </ul>
    <a class="slider-next" href="#"></a>
    <a class="slider-prev" href="#"></a>
  </div>
  <section id="mantra" class="pre-order container">
    <h2 class="section-title">Pre-O<span class="uc">r</span>d<span class="uc">e</span>r</h2>
    <p class="intro">Sunjacket’s new album <em>More Lifelike</em> is out June 4, 2021.<br>Vinyl LPs and CDs are estimated late June 2021.</p>

    <ul class="pre-order-item-list row">
      <!-- mantra vinyl -->
      <li class="pre-order-item col col-3">
        <h3 class="item-title">180g Vinyl LP</h3>
        <ul class="item-description-list">
          <li>Limited edition 180g black vinyl</li>
          <li>Jacket printed on heavy 24pt stock</li>
          <li>Printed reverse board inner sleeve</li>
          <li>Includes digital download via Bandcamp</li>
        </ul>
        <a class="btn btn-pre-order" href="https://sunjacket.bandcamp.com/album/mantra">Pre-Order LP</a>
      </li>
      <!-- mantra cd -->
      <li class="pre-order-item col col-3">
        <h3 class="item-title">CD with Digipak</h3>
        <ul class="item-description-list">
          <li>CDs are making a comeback</li>
          <li>Sounds better than Spotify</li>
          <li>Goes in your car (maybe)</li>
          <li>Includes digital download via Bandcamp</li>
        </ul>
        <a class="btn btn-pre-order" href="https://sunjacket.bandcamp.com/album/mantra">Pre-Order CD</a>
      </li>
      <!-- mantra digital -->
      <li class="pre-order-item col col-3">
        <h3 class="item-title">Digital Download</h3>
        <ul class="item-description-list">
          <li>File format of your choice</li>
          <li>Sounds better than Spotify</li>
          <li>Goes on your hard drive</li>
          <li>Download via Bandcamp</li>
        </ul>
        <a class="btn btn-pre-order" href="https://sunjacket.bandcamp.com/album/mantra">Pre-Order Digital</a>
      </li>
    </ul>
  </section>
</aside>
<!-- main content -->
<main id="content" class="content">
  <!-- music -->
  <section id="music" class="container half-pad-bottom">
    <h2 class="section-title"><span class="lc">M</span><span class="uc">u</span>s<span class="uc">ic</span></h2>
    <div class="row">
      <!-- album -->
      <div class="album col col-2">
        <figure class="album-cover">
          <img src="images/sunjacket-more-lifelike-cover.jpg" alt="Sunjacket - More Lifelike (2021)">
        </figure>
        <div class="album-info">
          <h3 class="album-title">More Lifelike <small>2021</small></h3>
          <div class="album-details row">
            <ul class="album-links col col-2 reverse">
              <li class="album-link"><a href="https://sunjacket.bandcamp.com/album/more-lifelike">{% include icon-bandcamp.html %} Bandcamp</a></li>
              <li class="album-link"><a href="#">{% include icon-spotify.html %} Spotify</a></li>
              <li class="album-link"><a href="#">{% include icon-apple.html %} Apple Music</a></li>
            </ul>
            <ol class="album-tracklist col col-2 reverse">
              <li class="album-track">Gate</li>
              <li class="album-track">In My Head</li>
              <li class="album-track">No Coast</li>
              <li class="album-track">More Lifelike</li>
              <li class="album-track">Ride</li>
              <li class="album-track">Machine</li>
              <li class="album-track">Passenger</li>
              <li class="album-track">All Of The Time</li>
              <li class="album-track">How Can I Even</li>
              <li class="album-track">Take It Apart</li>
              <li class="album-track">Uptight</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- album -->
      <!-- album -->
      <div class="album col col-2">
        <figure class="album-cover">
          <img src="images/sunjacket-mantra-cover.jpg" alt="Sunjacket - More Lifelike (2021)">
        </figure>
        <div class="album-info">
          <h3 class="album-title">Mantra <small>2016</small></h3>
          <div class="album-details row">
            <ul class="album-links col col-2 reverse">
              <li class="album-link"><a href="https://sunjacket.bandcamp.com/album/mantra">{% include icon-bandcamp.html %} Bandcamp</a></li>
              <li class="album-link"><a href="https://smarturl.it/Mantra_Spotify">{% include icon-spotify.html %} Spotify</a></li>
              <li class="album-link"><a href="https://smarturl.it/Mantra_Apple">{% include icon-apple.html %} Apple Music</a></li>
            </ul>
            <ol class="album-tracklist col col-2 reverse">
              <li class="album-track">Granstanders</li>
              <li class="album-track">Creepy</li>
              <li class="album-track">Dissolve It</li>
              <li class="album-track">Habit</li>
              <li class="album-track">Tongue</li>
              <li class="album-track">No One's Around You</li>
              <li class="album-track">Not Enough</li>
              <li class="album-track">Alligator</li>
              <li class="album-track">Someone ELse</li>
              <li class="album-track">Mantra</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- album -->
    </div>
  </section>
  <!-- /music -->

  <!-- video -->
  <section id="video" class="container flush-pad-top">
    <h2 class="section-title"><span class="lc">V</span><span class="uc">i</span>de<span class="uc">o</span></h2>
    <div class="video-wrap">
      <iframe src="https://www.youtube.com/embed/pypTrPMz15k" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
  <!-- /video -->

  <!-- shows -->
  <!-- <section id="shows" class="container"> -->
  <!--  <h2 class="section-title">Shows</h2> -->
    <!-- {% include bandsintown.html %} -->
  <!-- </section> -->
  <!-- /shows -->

  <!-- portrait -->
  <figure id="portrait" class="portrait container-image">
    <img src="images/sunjacket-bw.jpg" width="2000" height="1333" alt="Sunjacket">
  </figure>
  <!-- /portrait -->

  <!-- about -->
  <section id="about" class="container">
    <div class="row">
      <div class="col-3-4">
        <h2 class="section-title"><span class="lc">A</span>bout</h2>
        <p class="bio">Sunjacket is an indie rock band from Chicago. In the fall of 2014, Bryan Kveton (vocals, guitar, synth), Carl Hauck (vocals, guitar, synth), and Garret Bodette (drums, percussion) took a year off from playing shows to finish writing and recording songs for their debut LP.</p>
        <p class="bio">The result is <em>Mantra</em>, an &ldquo;expansive exploration of human compulsions&rdquo; (<a href="http://www.stereogum.com/1898866/stream-sunjacket-mantra/mp3s/">Stereogum</a>), whose 10 tracks range from dark, synth-driven pop to layered, syncopated rock, with moments of ambient sparseness in between.</p>
        <p class="bio">Released September 16, 2016, the album was produced in collaboration with Fraser McCulloch (of Brooklyn band Milagres) and mastered by Joe Lambert (Animal Collective, Deerhunter, Dirty Projectors, Local Natives).</p>
      </div>
    </div>
  </section>
  <!-- /about -->
</main>
