---
layout: default
published: true
---

<section id="welcome" class="welcome full-height">
  <div class="container welcome-container full-height">
    <div class="welcome-banner">
        <h1 class="more-lifelike"><span class="soft-return lc">More </span><span class="soft-return"><span class="uc">L</span>ifelik<span class="uc">e</span></span></h1>
        <h2 class="welcome-message">New album out June 4, 2021</h2>
        <a class="btn btn-welcome" href="https://sunjacket.bandcamp.com/album/more-lifelike">Pre-Order Now</a>
      </div>
      <a class="welcome-arrow" href="#mantra">{% include icon-down-arrow.html %}</a>
  </div>
</section>
<!-- pre-order promotional aside -->
<aside id="promotion" class="promotion">
  <div class="pre-order-images">
    <ul class="slider">
      <li><img src="images/sunjacket-slide-01-ML-vinyl-jacket-front.jpg" width="1600" height="1067" alt="Sunjacket More Lifelike vinyl jacket, front view"></li>
      <li><img src="images/sunjacket-slide-02-ML-vinyl-jacket-sleeve-front.jpg" width="1600" height="1067" alt="Sunjacket More Lifelike vinyl jacket and inner sleeve, front view"></li>
      <li><img src="images/sunjacket-slide-03-ML-vinyl-sleeve-record-front.jpg" width="1600" height="1067" alt="Sunjacket More Lifelike inner sleeve and vinyl LP, front view"></li>
      <li><img src="images/sunjacket-slide-04-ML-vinyl-sleeve-record-back.jpg" width="1600" height="1067" alt="Sunjacket More Lifelike inner sleeve and vinyl LP, rear view"></li>
      <li><img src="images/sunjacket-slide-05-ML-vinyl-jacket-sleeve-back.jpg" width="1600" height="1067" alt="Sunjacket More Lifelike vinyl jacket and inner sleeve, rear view"></li>
      <li><img src="images/sunjacket-slide-06-ML-vinyl-jacket-back.jpg" width="1600" height="1067" alt="Sunjacket More Lifelike vinyl jacket, rear view"></li>
      <li><img src="images/sunjacket-slide-07-ML-CD-exterior.jpg" width="1600" height="1067" alt="Sunjacket More Lifelike CD artwork, exterior"></li>
      <li><img src="images/sunjacket-slide-08-ML-CD-interior.jpg" width="1600" height="1067" alt="Sunjacket More Lifelike CD artwork, interior"></li>
    </ul>
    <a class="slider-next" href="#"></a>
    <a class="slider-prev" href="#"></a>
  </div>
  <section id="mantra" class="pre-order container">
    <h2 class="section-title">Pre-O<span class="uc">r</span>d<span class="uc">e</span>r</h2>
    <p class="intro">Sunjacket’s new album <em>More Lifelike</em> is out June 4, 2021.<br>Vinyl LPs and CDs are estimated late June 2021.</p>

    <ul class="pre-order-item-list row">
      <!-- mantra vinyl -->
      <li class="pre-order-item col col-3">
        <h3 class="item-title">180g Vinyl LP</h3>
        <ul class="item-description-list">
          <li>Limited edition 180g black vinyl</li>
          <li>Jacket printed on heavy 24pt stock</li>
          <li>Printed reverse board inner sleeve</li>
          <li>Includes digital download via Bandcamp</li>
        </ul>
        <a class="btn btn-pre-order" href="https://sunjacket.bandcamp.com/album/more-lifelike">Pre-Order LP</a>
      </li>
      <!-- mantra cd -->
      <li class="pre-order-item col col-3">
        <h3 class="item-title">CD with Digipak</h3>
        <ul class="item-description-list">
          <li>CDs are making a comeback</li>
          <li>Sounds better than Spotify</li>
          <li>Goes in your car (maybe)</li>
          <li>Includes digital download via Bandcamp</li>
        </ul>
        <a class="btn btn-pre-order" href="https://sunjacket.bandcamp.com/album/more-lifelike">Pre-Order CD</a>
      </li>
      <!-- mantra digital -->
      <li class="pre-order-item col col-3">
        <h3 class="item-title">Digital Download</h3>
        <ul class="item-description-list">
          <li>File format of your choice</li>
          <li>Sounds better than Spotify</li>
          <li>Goes on your hard drive</li>
          <li>Download via Bandcamp</li>
        </ul>
        <a class="btn btn-pre-order" href="https://sunjacket.bandcamp.com/album/more-lifelike">Pre-Order Digital</a>
      </li>
    </ul>
  </section>
</aside>
<!-- main content -->
<main id="content" class="content">
  <!-- music -->
  <section id="music" class="container half-pad-bottom">
    <h2 class="section-title"><span class="lc">M</span><span class="uc">u</span>s<span class="uc">ic</span></h2>
    <div class="row">
      <!-- album -->
      <div class="album col col-2">
        <figure class="album-cover">
          <img src="images/sunjacket-more-lifelike-cover.jpg" alt="Sunjacket - More Lifelike (2021)">
        </figure>
        <div class="album-info">
          <h3 class="album-title">More Lifelike <small>2021</small></h3>
          <div class="album-details row">
            <ul class="album-links col col-2 reverse">
              <li class="album-link"><a href="https://sunjacket.bandcamp.com/album/more-lifelike">{% include icon-bandcamp.html %} Bandcamp</a></li>
              <li class="album-link"><a href="http://smarturl.it/fw2ebd">{% include icon-spotify.html %} Spotify</a></li>
              <li class="album-link"><a href="https://music.apple.com/artist/936643619">{% include icon-apple.html %} Apple Music</a></li>
            </ul>
            <ol class="album-tracklist col col-2 reverse">
              <li class="album-track">Gate</li>
              <li class="album-track">In My Head</li>
              <li class="album-track">No Coast</li>
              <li class="album-track">More Lifelike</li>
              <li class="album-track">Ride</li>
              <li class="album-track">Machine</li>
              <li class="album-track">Passenger</li>
              <li class="album-track">All Of The Time</li>
              <li class="album-track">How Can I Even</li>
              <li class="album-track">Take It Apart</li>
              <li class="album-track">Uptight</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- album -->
      <!-- album -->
      <div class="album col col-2">
        <figure class="album-cover">
          <img src="images/sunjacket-mantra-cover.jpg" alt="Sunjacket - More Lifelike (2021)">
        </figure>
        <div class="album-info">
          <h3 class="album-title">Mantra <small>2016</small></h3>
          <div class="album-details row">
            <ul class="album-links col col-2 reverse">
              <li class="album-link"><a href="https://sunjacket.bandcamp.com/album/mantra">{% include icon-bandcamp.html %} Bandcamp</a></li>
              <li class="album-link"><a href="https://smarturl.it/Mantra_Spotify">{% include icon-spotify.html %} Spotify</a></li>
              <li class="album-link"><a href="https://smarturl.it/Mantra_Apple">{% include icon-apple.html %} Apple Music</a></li>
            </ul>
            <ol class="album-tracklist col col-2 reverse">
              <li class="album-track">Granstanders</li>
              <li class="album-track">Creepy</li>
              <li class="album-track">Dissolve It</li>
              <li class="album-track">Habit</li>
              <li class="album-track">Tongue</li>
              <li class="album-track">No One's Around You</li>
              <li class="album-track">Not Enough</li>
              <li class="album-track">Alligator</li>
              <li class="album-track">Someone ELse</li>
              <li class="album-track">Mantra</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- album -->
    </div>
  </section>
  <!-- /music -->

  <!-- video -->
  <section id="video" class="container no-pad-top">
    <h2 class="section-title"><span class="lc">V</span><span class="uc">i</span>de<span class="uc">o</span></h2>
    <div class="video-wrap">
      <iframe src="https://www.youtube.com/embed/pypTrPMz15k" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
  <!-- /video -->

  <!-- shows -->
  <!-- <section id="shows" class="container"> -->
  <!--  <h2 class="section-title">Shows</h2> -->
    <!-- {% include bandsintown.html %} -->
  <!-- </section> -->
  <!-- /shows -->

  <!-- portrait -->
  <figure id="portrait" class="portrait container-image">
    <img src="images/sunjacket-bw.jpg" width="2000" height="1333" alt="Sunjacket">
  </figure>
  <!-- /portrait -->

  <!-- about -->
  <section id="about" class="container">
    <div class="row">
      <div class="col col-5">
        <h2 class="section-title"><span class="lc">A</span>bout</h2>
        <p class="bio">There’s an elusive waveform, waiting to be discovered, that captures the sonic essence of a gluten-free, dairy-free frozen pizza. Just like there’s a perfectly color-graded lens flare to convey the fact that while your parents won’t be around forever, your insurance company will be here long after you’ve uploaded your consciousness to AWS.</p>

        <p class="bio">Sunjacket LLC—founded just over a decade after the Y2K scare—is a boutique digital communications and brand experience agency that specializes in agonizing over such nuanced creative decisions and delivering quality solutions at the agreed-upon time, often earlier.</p>

        <p class="bio">“We couldn’t be more serious about surpassing our clients’ expectations,” says Bryan Kveton (Head of Client Expectations), “but we also like to have a little fun on the side.” He winks and nods toward the agency band’s collection of rare and vintage synthesizers, guitars, and drum machines yellowing in the sunlit corner of their open-plan workspace.</p>

        <p class="bio">Congruent with what that sun-drenched synthesizer nursery suggests, Sunjacket’s employees are no strangers to the limelight. After releasing their debut LP Mantra in the fall of 2016, the agency was invited to deliver an interactive industry keynote on musical synergy at SXSW, a presentation which was seen by dozens.</p>

        <p class="bio">“If people walked away from that booth with one takeaway,” says Carl Hauck (Chief Financial Officer), “it was that making records is the most reliable way to reduce your taxable income.”</p>

        <p class="bio">Sunjacket’s sophomore album, <em>More Lifelike</em>, is dark, yet optimistic; synth-driven and melodic; with acoustic-electronic hybrid beats and spatial sound design that envelop the introspection of the songwriting. It’s the background music a quality assurance engineer might put on in the days leading up to their triumphant resignation; it’s headphone rock for spreadsheet lovers.</p>

        <p class="bio">“We’re trying to say something with this music that can’t be said with a slide deck,” says Garret Bodette (SVP, Agency Communications). “At the same time, we have an obligation to meet the client’s demands when it comes to the physical packaging. The typography alone needs to say, ‘This 180-gram vinyl record, derived from virgin PVC, will help soothe your eco-anxiety.’ And that’s a tall order. These are the kinds of pixels we’re massaging every day. Is it one to the right? Two to the left? Sometimes, it’s both.”</p>

        <p class="bio">MORE LIFELIKE is out June 4, 2021.</p>

        <p class="bio">&mdash;</p>

        <p class="bio"><em>Media inquiries (including, but not limited to, requests for interviews, high-res image files, and client case studies) should be directed to hello@sunjacket.net. Non-media inquiries, including RFP questions and new business, will be responded to in order of budget size.</em></p>
      </div>
    </div>
  </section>
  <!-- /about -->
</main>
