<nav id="contact" class="contact menu">
  <div class="container container-menu">
    <h2 class="section-title">Contact</h2>
    <div class="row">
      <div class="contact-general col col-3">
        <h3 class="menu-title">General</h3>
        <p><a href="mailto:hello@sunjacket.net">hello@sunjacket.net</a></p>
      </div>
      <div class="contact-booking col col-3">
        <h3 class="menu-title">Booking</h3>
        <p><a href="mailto:joe@greenbelttouring.com">joe@greenbelttouring.com</a></p>
      </div>
      <div class="contact-licensing col col-3">
        <h3 class="menu-title">Licensing</h3>
        <p><a href="mailto:chris@ghost-town.com">chris@ghost-town.com</a></p>
        <p><a href="mailto:hannah@ghost-town.com">hannah@ghost-town.com</a></p>
      </div>
    </div>
    <a class="close-x" href="#">{% include icon-close.html %}</a>
  </div>
</nav>