<nav id="follow" class="follow menu">
  <div class="container container-menu">
    <h2 class="section-title">Follow</h2>
    <div class="row">
      <div class="social col col-3">
        <h3 class="menu-title">Social</h3>
        <ul>
          <li><a href="https://www.facebook.com/sunjacket">Facebook</a></li>
          <li><a href="https://twitter.com/sunjacket">Twitter</a></li>
          <li><a href="https://www.instagram.com/sunjacket/">Instagram</a></li>
          <li><a href="https://www.snapchat.com/add/sunjacket">Snapchat</a></li>
        </ul>
      </div>
      <div class="stream col col-3">
        <h3 class="menu-title">Stream</h3>
        <ul>
          <li><a href="https://open.spotify.com/artist/2CQE8XkRQetXDnoz0nZdRB">Spotify</a></li>
          <li><a href="https://itun.es/us/JWa13">Apple Music</a></li>
          <li><a href="https://sunjacket.bandcamp.com/">Bandcamp</a></li>
          <li><a href="https://soundcloud.com/sunjacketsounds">SoundCloud</a></li>
        </ul>
      </div>
      <div class="updates col col-3">
        <h3 class="menu-title">Updates</h3>
        <form action="//sunjacket.us6.list-manage.com/subscribe/post?u=7b867c5fdf30c0550afdc8fe4&amp;id=8b86a56d6d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" placeholder="you@whatever.com" name="EMAIL" class="required email" id="mce-EMAIL">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7b867c5fdf30c0550afdc8fe4_8b86a56d6d" tabindex="-1" value=""></div>
          <div class="clear"><input class="btn btn-submit" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='zip';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>
    </div>
    <a class="close-x" href="#">{% include icon-close.html %}</a>
  </div>
</nav>