<footer class="contact">
  <section class="email row">
    <div class="column half">
      <h3>General</h3>
      <a href="mailto:hello@sunjacket.net">hello@sunjacket.net</a>
    </div>

    <div class="column half">
      <h3>Booking</h3>
      <a href="mailto:booking@sunjacket.net">booking@sunjacket.net</a>
    </div>
  </section>

  <section class="links row">
    <div class="network column third">
      <h3>Network</h3>
      <ul>
        <li><a href="https://www.facebook.com/sunjacket">Facebook</a></li>
        <li><a href="https://twitter.com/sunjacket">Twitter</a></li>
        <li><a href="http://instagram.com/sunjacket">Instagram</a></li>
      </ul>
    </div>

    <div class="music column third">
      <h3>Music</h3>
      <ul>
        <li><a href="http://sunjacket.bandcamp.com">Bandcamp</a></li>
        <li><a href="https://soundcloud.com/sunjacketsounds">SoundCloud</a></li>
        <li><a href="https://play.spotify.com/album/1PnSZj9pn4LnugFFB9isAb">Spotify</a></li>
      </ul>
    </div>

    <div class="updates column third">
      <h3>Updates</h3>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//sunjacket.us6.list-manage.com/subscribe/post?u=7b867c5fdf30c0550afdc8fe4&amp;id=8b86a56d6d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <label for="mce-EMAIL" class="hide">Email Address</label>
          <input type="email" onfocus="this.value = '';" onfocusout="this.value = 'your@email.com';" value="your@email.com" name="EMAIL" class="required email" id="mce-EMAIL">

          <div id="mce-responses">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>

          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

          <div style="position: absolute; left: -5000px;"><input type="text" name="b_7b867c5fdf30c0550afdc8fe4_8b86a56d6d" tabindex="-1" value=""></div>

          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>
  </section>
</footer>
