<header id="header" class="header">
  <h1 class="logo"><a href="{{ site.baseurl }}/">Sunjacket</a></h1>
  <!-- desktop nav -->
  <nav class="nav nav-desktop">
    <ul class="nav-desktop-list">
      <li><a href="https://sunjacket.bandcamp.com/merch">Store</a></li>
      <li><a href="{{ site.baseurl }}/#music">Music</a></li>
      <li><a href="{{ site.baseurl }}/#video">Video</a></li>
      <li><a href="{{ site.baseurl }}/#shows">Shows</a></li>
      <li><a href="{{ site.baseurl }}/#about">About</a></li>
      <li><a class="follow-link" href="#">Follow</a></li>
      <li><a class="contact-link" href="#">Contact</a></li>
    </ul>
  </nav>
  <!-- mobile nav -->
  <nav class="nav nav-mobile menu">
    <ul class="nav-mobile-list">
      <li><a href="https://sunjacket.bandcamp.com/merch">Store</a></li>
      <li><a class="page-link" href="{{ site.baseurl }}/#music">Music</a></li>
      <li><a class="page-link" href="{{ site.baseurl }}/#video">Video</a></li>
      <li><a class="page-link" href="{{ site.baseurl }}/#shows">Shows</a></li>
      <li><a class="page-link" href="{{ site.baseurl }}/#about">About</a></li>
      <li><a class="follow-link" href="#">Follow</a></li>
      <li><a class="contact-link" href="#">Contact</a></li>
    </ul>
    <a class="close-x" href="#">{% include icon-close.html %}</a>
  </nav>
  <a class="menu-link" href="#">{% include icon-menu.html %}</a>
</header>