<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Sunjacket — MANTRA</title>
  <meta name="author" content="Sunjacket">
  <meta name="description" content="Debut LP Mantra out now. Sunjacket is a four-piece band from Chicago, IL.">
  <!-- facebook pixel code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '975905129204033');
  fbq('track', "PageView");
  fbq('track', 'ViewContent');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=975905129204033&ev=PageView&noscript=1"
  /></noscript>
  <!-- /facebook pixel code -->
  <link rel="shortcut icon" href="https://f4.bcbits.com/img/a2336595316_3.jpg">
  <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">