<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.name }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="It's the official website for Sunjacket, the five-piece band from Chicago.">

  <!-- Icons -->
  <link rel="shortcut icon" href="/assets/sunjacket-icon.jpg">
  <link rel="apple-touch-icon" href="/assets/sunjacket-icon.jpg">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- CSS -->
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/styles.css">
</head>