/* Settings */

$content-width: 1440px;
$row-padding: 5%; /* 1440 / 72 */
$row-padding-phone: 6.4%; /* 375 / 24 */
$gutter: 30px;

/* Media Queries */

$tablet: "screen and (max-width: 880px)";
$phone: "screen and (max-width: 480px)";

/* Grid */

* {
  box-sizing: border-box;
}
.container,
.container-flush {
  padding-top: 42px;
  padding-bottom: 42px;
}
.container {
  max-width: $content-width;
  margin: 0 auto;
  padding-right: $row-padding;
  padding-left: $row-padding;
  @media #{$phone} {
    padding: 0 $row-padding-phone;
  }
}
.row {
  margin-right: -$gutter / 2;
  margin-left: -$gutter / 2;
  &:before, &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.col {
  float: left;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 33.333333%;
}
.col-4 {
  width: 25%;
}
.col-2,
.col-3,
.col-4 {
  @media #{$tablet} {
    width: 100%;
    clear: both;
  }
}

/* Sizing */

.full-height {
  min-height: 100vh;
}