/* Landing */

body.landing {
  background-color: $black;
}
.land-bg {
  background-size: cover;
  background-image: url(../images/sunjacket-more-lifelike-video-landing-bg.jpg);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.land-banner {
  color: $white;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  text-align: center;
  width: 100%;
  max-width: 480px;
  h1 {
    text-transform: uppercase;
  }
}
.land-footer {
  color: $white;
  font-size: 12px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  text-align: center;
  width: 100%;
  max-width: 480px;
}
.landing-page {
  padding: 20px;
}
.land-wrap {
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
  width:  100%;
  max-width: 480px;
}
.land-img {
  background-color: $black;
  line-height: 0;
  figure, video {
    line-height: 0;
  }
}
.land-header {
  background-color: $black;
  color: $white;
  text-align: center;
  padding: 20px;
  h1.land-title {
    font-size: 22px;
  }
  h2.land-description {
    font-size: 16px;
  }
}
.land-link-tile {
  background-color: hsl(0, 0, 100%);
  transition: all 125ms ease;
  &:hover {
    @media #{$phone-above} {
      background-color: hsl(0, 0, 94%);
    }
  }
}
.land-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.land-service-logo {
  height: 1.6rem;
  width: auto;
}
.land-link-btn {
  background-color: $white;
  border-color: $black;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  color: $black;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  line-height: 1em;
  display: inline-block;
  cursor: pointer;
  padding: 12px 24px;
  transition: all 125ms ease;
  &:hover {
    @media #{$phone-above} {
      background-color: $black;
      color: $white;
    }
  }
}