/* Colors & Schemes ------------------- */

$black: rgb(0,0,0);
$white: rgb(255,255,255);

%day {
  color: $black;
  background-color: $white;
}
%night {
  color: $white;
  background-color: $black;
}

/* Layout ----------------------------- */

$padding-top: 100px;
$padding-bottom: 110px;

.container,
.container-flush {
  position: relative;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  &.container-menu {
    padding-top: 72px;
    padding-bottom: 72px;
    @media #{$phone} {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }
  @media #{$phone} {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
/*.content {
  padding-top: 58px;
  padding-bottom: 58px;
  @media #{$phone} {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}*/
.promotion {
  padding-bottom: 58px;
  @media #{$phone} {
    padding-bottom: 20px;
  }
}

/* Element Styles --------------------- */

a {
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
}
.container-image {
  line-height: 0;
}
%text-link {
  color: $white;
  box-shadow: inset 0 -3px 0 -2px $white;
  transition: all 250ms ease;
  &:hover {
    color: transparentize($white,0.25);
    box-shadow: inset 0 -3px 0 -2px transparentize($white,0.25);
  }
}
.btn {
  background-image: none !important;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 1em;
  display: inline-block;
  cursor: pointer;
  padding: 17px 30px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  transition: all 125ms ease;
  @media #{$phone} {
    padding: 16px 30px;
    width: 100%;
  }
  /* welcome button */
  &.btn-welcome {
    color: $black;
    border-color: $white;
    background-color: $white;
    &:hover {
      color: $white;
      border-color: $black;
      background-color: $black;
    }
  }
  /* submit button */
  &.btn-submit {
    width: 100%;
    color: $black;
    border-color: $white;
    background-color: $white;
    -webkit-appearance: none;
    &:hover {
      color: $white;
      background-color: $black;
    }
  }
  /* pre-order button */
  &.btn-pre-order {
    color: $white;
    border-color: $black;
    background-color: $black;
    &:hover {
      color: $black;
      border-color: $black;
      background-color: $white;
    }
  }
  /* ticket/rsvp buttons */
  &.btn-buy-tickets,
  &.btn-rsvp {
    color: $white;
    border-color: lighten($black,40%);
    background-color: $black;
    @media #{$phone} {
      margin-bottom: 0.75em;
      margin-bottom: 0.75em;
    }
    &:hover {
      color: $black;
      border-color: $white;
      background-color: $white;
    }
  }
  &.btn-buy-tickets {
    margin-right: 1.25em;
    @media #{$phone} {
      margin-right: 0;
    }
  }
}

/* Utility Styles --------------------- */

.full-height {
  min-height: 100vh;
}
.menu-open {
  overflow: hidden;
}
.line-break {
  display: table;
  @media #{$phone} {
    display: inline;
  }
}
.soft-return {
  display: block;
}
.uc {
  text-transform: uppercase;
}
.lc {
  text-transform: lowercase;
}
%flex {
  display: flex;
}
.video-wrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  margin-bottom: 5vw;
  height: 0;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.no-pad-top {
  padding-top: 0;
}
.no-pad-bottom {
  padding-bottom: 0;
}
.half-pad-top {
  padding-top: $padding-top / 2;
}
.half-pad-bottom {
  padding-bottom: $padding-bottom / 2;
}

/* Header & Footer -------------------- */

/* header */

%header-links {
  a {
    display: inline-block;
    color: $white;
    transition: color 125ms ease;
    padding: 18px;
    margin-top: -18px;
    margin-bottom: -18px;
    &:hover {
      color: $white;
    }
  }
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 72px $row-padding 0 $row-padding;
  z-index: 1;
  @media #{$phone} {
    padding: 36px $row-padding-phone 0 $row-padding-phone;
  }
}
.logo {
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  @extend %header-links;
  margin-left: -18px;
}
.nav-desktop {
  float: right;
  font-size: 16px;
  margin-right: -18px;
  @extend %header-links;
  .nav-desktop-list {
    li {
      float: left;
    }
  }
  @media #{$tablet} {
    display: none;
  }
}
a.menu-link {
  display: none;
  @media #{$tablet} {
    float: right;
    display: block;
  }
}
.nav-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  li {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  a {
    font-size: 24px;
  }
}

/* footer */

.copyright {
  .container {
    padding-top: 0;
  }
}
.copyright {
  @extend %night;
}

/* Flyout Menus ----------------------- */

.menu {
  color: $white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  z-index: -100;
  background-color: $black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
  ul a, p a {
    @extend %text-link;
    @media #{$phone} {
      line-height: 1.5;
    }
  }
  .col {
    margin-bottom: 2em;
  }
}
.contact {
  p a {
    font-size: 36px;
  }
}
.contact-item {
  padding-bottom: 4em;
  @media #{$phone} {
    padding-bottom: 2em;
  }
  &:last-of-type {
    padding-bottom: 0;
  }
}
.follow {
  ul a {
    font-size: 36px;
  }
}
.contact p a,
.follow ul a {
  @media #{$phone} {
    font-size: 18px;
  }
}
.contact p,
.follow li {
  margin-bottom: 0.25em;
}
.open {
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}
input[type="email"] {
  font-size: 16px;
  color: $white;
  padding: 1.125em;
  width: 100%;
  border: none;
  border: 1px solid $white;
  background-color: $black;
  border-radius: 1px;
  margin-top: 1em;
  margin-bottom: 1.125em;
  outline: none;
}
input[type="submit"],
input[type="email"] {
  font-family: $font-family;
}
::-webkit-input-placeholder {
   color: $white;
}
::-moz-placeholder {
   color: $white;
}
:-ms-input-placeholder {
   color: $white;
}
a.close-x {
  cursor: pointer;
  display: block;
  position: absolute;
  padding: 16px;
  margin-top: -16px;
  margin-right: -16px;
  top: 72px;
  right: $row-padding;
  transition: opacity 125ms ease;
  line-height: 0;
  @media #{$phone} {
    top: 39px;
    right: $row-padding-phone;
  }
  &:hover {
    opacity: 0.5;
  }
}

/* Section Styles --------------------- */

/* .welcome */

.welcome {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../images/sunjacket-more-lifelike-cover.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-color: $black;
}
.welcome-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  max-width: 100%;
  @media #{$tablet} {
    align-items: center;
  }
}
.welcome-banner {
  width: 100%;
  h1 {
    font-family: 'BASE&BLOOM';
    font-size: 10.5vw;
    color: $white;
    line-height: 0.8;
    margin-bottom: 0.2em;
    @media #{$phone} {
      font-size: 21vw;
    }
  }
}
.welcome-message {
  @extend .intro;
  color: $white;
  margin-bottom: 1.25em;
}
.welcome-arrow {
  display: block;
  cursor: pointer;
  padding: 16px;
  position: absolute;
  bottom: 72px;
  left: 50%;
  margin-left: -23px;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
  @media #{$phone} {
    bottom: 36px;
  }
}
@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes bounce {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

/* .pre-order */

.pre-order {
  @extend %day;
  a {
    color: $black;
  }
}
.pre-order-images {
  position: relative;
  line-height: 0;
  border-radius: 1px;
  @media #{$phone} {
    margin-bottom: 2.2em;
  }
  .slider-next,
  .slider-prev {
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    text-indent: -9999px;
    z-index: 9999;
    @media #{$phone} {
      display: none;
    }
  }
  .slider-next {
    right: 0;
    &:hover {
      cursor: url(../images/icon-right-arrow.svg), e-resize;
    }
  }
  .slider-prev {
    left: 0;
    &:hover {
      cursor: url(../images/icon-left-arrow.svg), w-resize;
    }
  }
}
.pre-order-item {
  @media #{$tablet} {
    padding-bottom: 3em;
  }
  &:last-of-type {
    @media #{$phone} {
      padding-bottom: 0;
    }
  }
}
.pre-order-item-list {
  padding-bottom: 0.7em;
  &:last-of-type {
    padding-bottom: 0;
  }
}
.item-description-list {
  text-indent: -1em;
  padding-bottom: 1.3em;
  li {
    padding-left: 1em;
    margin-bottom: 0.45em;
    &:before {
      content:"\2013";
      padding-right: 0.25em;
    }
  }
}

/* .content */

.content {
  @extend %night;
  h3 a, p a {
    @extend %text-link;
  }
}

/* .music */
.album-cover {
  margin-bottom: 20px;
  border-radius: 2px;
}
.album-title {
  font-size: 32px;
  margin-bottom: 24px;
  text-transform: uppercase;
  small {
    font-size: 18px;
    margin-left: 24px;
  }
}
.album-links,
.album-tracklist {
  margin-bottom: 18px;
}
.album-tracklist {
  counter-reset: tracklist;
  list-style-type: none;
  list-style-position: inside;
  .album-track {
    margin-bottom: 1em;
    counter-increment: tracklist;
    &::before {
      content: counter(tracklist);
      display: inline-block;
      width: 40px;
    }
  }
  @media #{$phone} {
    display: none;
  }
}
.album-link {
  text-transform: uppercase;
  margin-bottom: 1em;
  a {
    color: $white;
  }
}
.icon-apple,
.icon-bandcamp,
.icon-spotify {
  width: 18px;
  height: 18px;
  margin-right: 2px;
  position: relative;
  top: 3px;
}
.icon-apple {
  top: 4px;
}

/* .shows */

  /* resets */

.bit-widget .bit-event .bit-event-buttons {
  margin: 0 !important;
}
.bit-widget .bit-event .bit-button {
  line-height: inherit !important;
}
.bit-widget.bit-layout-desktop {
  .bit-date, .bit-venue, .bit-location {
    margin: 0 !important;
    text-align: left !important;
  }
}
.bit-widget.bit-layout-desktop {
  .bit-date {
    width: 20%;
  }
}
.bit-widget.bit-layout-desktop {
  .bit-venue, .bit-location {
    width: 40%;
  }
}

  /* styles */

.bit-nav-bar-container,.bit-track-button-container {
  display: none;
}
.bit-widget {
  padding: 0 !important;
  .bit-upcoming-events, .bit-past-events {
    margin: 0 !important;
    border-bottom: 1px solid transparentize($white,0.95) !important;
  }
  .bit-event {
    padding: 1em 0 !important;
    border-top: 1px solid transparentize($white,0.95) !important;
    transition: color 250ms ease;
    &:hover {
      color: transparentize($white,0.25);
      background-color: transparent !important;
    }
  }
  .bit-date {
    margin: 0 !important;
    font-weight: normal !important;
    text-transform: uppercase;
  }
  .bit-offers {
    font-weight: normal !important;
    margin: 0 !important;
  }
  .bit-button {
    font-size: 16px !important;
    padding: 17px 0 !important;
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    border-color: $white;
    background-color: $white;
    transition: all 250ms ease;
    @media #{$phone} {
      padding: 16px 0 !important;
      font-size: 12px !important;
    }
    &:hover {
      color: $white;
      background-color: $black;
    }
  }
}

/* .portrait */

.portrait {
  position: relative;
  z-index: 1000;
}

/* .instagram */

body.insta-links {
  .header {
    position: static;
  }
  .nav-desktop a {
    color: $black;
  }
  .logo a {
    color: $black;
  }
  .menu-link g {
      fill: $black;
  }
  .menu ul a {
    color: $white;
  }
  .copyright {
    @extend %day;
  }
}
.instagram {
  @extend %day;
  padding-top: 58px;
  @media #{$phone} {
    padding-top: 20px;
  }
}
.ig-pre-order {
  margin-bottom: 30px;
}
.insta-post {
  margin-bottom: $gutter;
}