/* Colors */

 $plum: rgb(120,107,111);
 $coal: rgb(45,45,50);
$white: rgb(255,255,255);

.paper {
  color: $plum;
  background-color: $white;
  a {
    color: $plum;
  }
}
.invert {
  color: $white;
  background-color: $plum;
  a {
    color: $white;
  }
}