/* Colors & Schemes ------------------- */

 $plum: rgb(120,107,111);
 $coal: rgb(45,45,50);
$white: rgb(255,255,255);

%day {
  color: $plum;
  background-color: $white;
}
%night {
  color: $white;
  background-color: $plum;
}

/* Layout ----------------------------- */

.container,
.container-flush {
  position: relative;
  padding-top: 42px;
  padding-bottom: 42px;
  &.container-menu {
    padding-top: 72px;
    padding-bottom: 72px;
    @media #{$phone} {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }
  @media #{$phone} {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.content,
.promotion {
  padding-top: 58px;
  padding-bottom: 58px;
  @media #{$phone} {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Element Styles --------------------- */

a {
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
}
.container-image {
  line-height: 0;
}
%text-link {
  color: $white;
  box-shadow: inset 0 -3px 0 -2px $white;
  transition: all 250ms ease;
  &:hover {
    color: transparentize($white,0.25);
    box-shadow: inset 0 -3px 0 -2px transparentize($white,0.25);
  }
}
.btn {
  background-image: none !important;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 1em;
  display: inline-block;
  cursor: pointer;
  padding: 17px 30px;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  transition: all 125ms ease;
  @media #{$phone} {
    padding: 16px 30px;
    width: 100%;
  }
  /* welcome button */
  &.btn-welcome {
    color: $plum;
    border-color: $white;
    background-color: $white;
    &:hover {
      color: $white;
      border-color: $coal;
      background-color: $coal;
    }
  }
  /* submit button */
  &.btn-submit {
    width: 100%;
    color: $coal;
    border-color: $white;
    background-color: $white;
    -webkit-appearance: none;
    &:hover {
      color: $white;
      background-color: $coal;
    }
  }
  /* pre-order button */
  &.btn-pre-order {
    color: $white;
    border-color: $plum;
    background-color: $plum;
    &:hover {
      color: $plum;
      border-color: $plum;
      background-color: $white;
    }
  }
  /* ticket/rsvp buttons */
  &.btn-buy-tickets,
  &.btn-rsvp  {
    color: $white;
    border-color: lighten($plum,40%);
    background-color: $plum;
    @media #{$phone} {
      margin-bottom: 0.75em;
      margin-bottom: 0.75em;
    }
    &:hover {
      color: $plum;
      border-color: $white;
      background-color: $white;
    }
  }
  &.btn-buy-tickets {
    margin-right: 1.25em;
    @media #{$phone} {
      margin-right: 0;
    }
  }
}

/* Utility Styles --------------------- */

.full-height {
  min-height: 100vh;
}
.menu-open {
  overflow: hidden;
}
.line-break {
  display: table;
  @media #{$phone} {
    display: inline;
  }
}
%flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Header & Footer -------------------- */

/* header */

%header-links {
  a {
    display: inline-block;
    color: $plum;
    transition: color 125ms ease;
    padding: 18px;
    margin-top: -18px;
    margin-bottom: -18px;
    &:hover {
      color: $coal;
    }
  }
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 72px $row-padding 0 $row-padding;
  z-index: 1;
  @media #{$phone} {
    padding: 36px $row-padding-phone 0 $row-padding-phone;
  }
}
.logo {
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  @extend %header-links;
  margin-left: -18px;
}
.nav-desktop {
  float: right;
  font-size: 16px;
  margin-right: -18px;
  @extend %header-links;
  .nav-desktop-list {
    li {
      float: left;
    }
  }
  @media #{$tablet} {
    display: none;
  }
}
a.menu-link {
  display: none;
  @media #{$tablet} {
    float: right;
    display: block;
  }
}
.nav-mobile {
  @extend %flex;
  text-align: center;
  li {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  a {
    font-size: 24px;
  }
}

/* footer */

.copyright {
  @extend %night;
}

/* Flyout Menus ----------------------- */

.menu {
  color: $white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  z-index: -100;
  background-color: $coal;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
  ul a, p a {
    @extend %text-link;
    @media #{$phone} {
      line-height: 1.5;
    }
  }
  .col {
    margin-bottom: 2em;
  }
}
.contact {
  p a {
    font-size: 24px;
  }
}
.follow {
  ul a {
    font-size: 36px;
  }
}
.contact p a,
.follow ul a {
  @media #{$phone} {
    font-size: 18px;
  }
}
.open {
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}
input[type="email"] {
  font-size: 16px;
  color: $white;
  padding: 1.125em;
  width: 100%;
  border: none;
  border: 1px solid $white;
  background-color: $coal;
  border-radius: 1px;
  margin-top: 1em;
  margin-bottom: 1.125em;
  outline: none;
}
input[type="submit"],
input[type="email"] {
  font-family: $font-family;
}
::-webkit-input-placeholder {
   color: $white;
}
::-moz-placeholder {
   color: $white;
}
:-ms-input-placeholder {
   color: $white;
}
a.close-x {
  cursor: pointer;
  display: block;
  position: absolute;
  padding: 16px;
  margin-top: -16px;
  margin-right: -16px;
  top: 72px;
  right: $row-padding;
  transition: opacity 125ms ease;
  line-height: 0;
  @media #{$phone} {
    top: 36px;
    right: $row-padding-phone;
  }
  &:hover {
    opacity: 0.5;
  }
}

/* Section Styles --------------------- */

/* .welcome */

.welcome {
  background-image: url(../images/sunjacket-cover.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-color: $coal;
}
.welcome-container {
  @extend %flex;
  position: relative;
}
.welcome-banner {
  text-align: center;
}
.welcome-message {
  @extend .intro;
  color: white;
}
.welcome-arrow {
  display: block;
  cursor: pointer;
  padding: 16px;
  position: absolute;
  bottom: 72px;
  left: 50%;
  margin-left: -23px;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
  @media #{$phone} {
    bottom: 36px;
  }
}
@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes bounce {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

/* .pre-order */

.pre-order {
  @extend %day;
  a {
    color: $plum;
  }
}
.pre-order-images {
  position: relative;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  line-height: 0;
  border-radius: 1px;
  @media #{$phone} {
    margin-top: 2.2em;
    margin-bottom: 2.2em;
  }
  .slider-next,
  .slider-prev {
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    text-indent: -9999px;
    z-index: 9999;
    @media #{$phone} {
      display: none;
    }
  }
  .slider-next {
    right: 0;
    &:hover {
      cursor: url(../images/icon-right-arrow.svg), e-resize;
    }
  }
  .slider-prev {
    left: 0;
    &:hover {
      cursor: url(../images/icon-left-arrow.svg), w-resize;
    }
  }
}
.pre-order-item {
  @media #{$tablet} {
    padding-bottom: 2.25em;
  }
}
.pre-order-item-list {
  padding-bottom: 0.7em;
  &:last-of-type {
    padding-bottom: 0;
  }
}
.item-description-list {
  text-indent: -1em;
  padding-bottom: 1.3em;
  li {
    padding-left: 1em;
    margin-bottom: 0.45em;
    &:before {
      content:"\2013";
      padding-right: 0.25em;
    }
  }
}

/* .content */

.content {
  @extend %night;
  h3 a, p a {
    @extend %text-link;
  }
}

/* .music */

.soundcloud {
  padding-bottom: 1.4em;
  &:last-of-type {
    padding-bottom: 0;
  }
}

/* .shows */

.show {
  font-size: 48px;
  line-height: 1.10416667;
  text-transform: uppercase;
  padding-bottom: 1.1em;
  @media #{$phone} {
    font-size: 24px;
    padding-bottom: 0.5em;
  }
  &:last-of-type {
    padding-bottom: 0;
  }
  .show-bands {
    font-size: 24px;
    text-transform: none;
    margin-top: 0.6em;
    @media #{$phone} {
      font-size: 18px;
    }
  }
  .btn:first-of-type {
    @media #{$phone} {
      margin-top: 0.75em;
    }
  }
}
.show-details {
  padding-bottom: 0.25em;
  @media #{$phone} {
    padding-bottom: 0.75em;
  }
}

/* .portrait */

.portrait {
  position: relative;
  z-index: 1000;
}