<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
{% include head.html %}
</head>
  <body>
  <!-- header -->
  {% include header.html %}

  {{ content }}

  <!-- footer -->
  {% include footer.html %}

  <!-- follow overlay -->
  {% include follow.html %}

  <!-- contact overlay-->
  {% include contact.html %}

  <!-- google analytics -->
  {% include google.html %}

  <!-- javascript -->
  {% include scripts.html %}
  </body>
</html>